<p>main works!</p>
<div class="p-2">
    
    <div class="input-group  mb-3 ">
        <div class=" input-group-prepend">
          <span class="input-group-text" id="basic-addon1">message ({{message.length}})</span>
        </div>
        <input [(ngModel)]="message" type="text" class="form-control" [value]="message" placeholder="message" aria-label="message" aria-describedby="basic-addon1">
      </div>

      <p>converted message{{convertedMessage.length}}: {{convertedMessage}}</p>
      <p>deconverted message{{deconvertedMessage.length}}: {{deconvertedMessage}}</p>
      <button type="button" class="btn btn-primary me-2"(click)="convertMessage()">convert</button>
      <button type="button" class="btn btn-primary"(click)="deconvertMessage()">deconvert</button>
</div>

